.articles__button {
    width: 248px;
    height: 48px;
}

@media screen and (max-width:550px) {
    .articles__button {
        margin: 30px 16px 0 16px;
    }
}

@media screen and (max-width:320px) {
    .articles__button {
        width: 288px;
    }
}