.introduction {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 984px;
}

@media screen and (max-width:870px) {
    .introduction {
        box-sizing: content-box;
        margin: 0;
        padding: 0 24px;
        max-width: 720px;
    }
}

@media screen and (max-width:320px) {
    .introduction {
        padding: 0 16px;
        max-width: 288px;
    }
}