.introduction {
    box-sizing: border-box;
    padding: 0 148px;
    margin: 0 auto;
    max-width: 984px;
}

@media screen and (max-width:870px) {
    .introduction {
        margin: 0;
        padding: 0 24px;
        max-width: calc(100% - 2*24px);
    }
}

@media screen and (max-width:320px) {
    .introduction {
        padding: 0 16px;
        max-width: calc(100% - 2*16px);
    }
}