.call-to-action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 92px auto 0 auto;
    padding: 0 48px;
    width: 984px;
    min-height: 742px;
    background-image: url(../../images/Footer_meadow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.call-to-action::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2a2c2f;
    opacity: 0.3;
    z-index: 1;
}

.call-to-action > * {
    z-index: 100;
}


.call-to-action:hover::before {
    opacity: 0.8;
}

@media screen and (max-width:768px) {
    .call-to-action {
        margin: 92px 0 0 0;
        width: 100%;
    }
}

@media screen and (max-width:320px) {
    .call-to-action {
        min-height: 254px;
        margin-top: 64px;
}
}

