.call-to-action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 92px 48px 0 48px;
    width: calc(100% - 2*48px);
    height: 742px;
    background-image: url(../../images/Footer_meadow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.call-to-action:hover {
    background-color: #2a2c2f;
    opacity: 0.3;
}

@media screen and (max-width:768px) {
    .call-to-action {
        margin: 92px 0 0 0;
        width: 100%;
    }
}

@media screen and (max-width:320px) {
    .call-to-action {
        height: 254px;
}
}

