.call-to-action__text {
    margin: 0;
    margin-top: 27px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
}

@media screen and (max-width:320px) {
    .call-to-action__text {
        font-size: 14px;
        line-height: 1.1;
        margin-top: 16px;
}
}