.articles {
    box-sizing: border-box;
    max-width: 984px;
    margin: 92px auto 0 auto;
}

@media screen and (max-width:1100px) {
    .articles {
        padding: 0 24px;
        max-width: calc(100% - 2*24px);
        margin-top: 88px;
    }
}

@media screen and (max-width:650px) {
    .articles {
        padding: 0;
        max-width: 100%;
        margin-top: 54px;
    }
}

